@model Amigo
@{
    ViewBag.Title = "Nuevo Amigo";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="row p-1">
        <label class="col" asp-for="Nombre"></label>
        <input class="col-9" asp-for="Nombre" />
    </div>

    <div class="row p-1" >
        <label class="col" asp-for="Email"></label>
        <input class="col-9" asp-for="Email" />
    </div>

    <div class="row p-1"> 
        <label class="col" asp-for="Ciudad"></label>
        <select class="col-9" asp-for="Ciudad" asp-items="Html.GetEnumSelectList<Province>()"></select>
    </div>

    <div class="p-3">
        <button class="btn btn-danger" type="submit"> Crear </button>
    </div>

</form>