@model practica_dos.ViewModels.DetailsView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<h3>@Model.titulo</h3>

<div>
    @Model.subTitulo
</div>

<div>
    Nombre:@Model.amigo.Nombre
</div>

<div>
    Email:@Model.amigo.Email
</div>

<div>
    Ciudad:@Model.amigo.Ciudad
</div>

@section Scripts
    {
    <script src="~/js/MyScript.js"></script>
}