@model List<Amigo>

@{
   
    ViewData["Title"] = "Index";
}
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
    </tr>
    
        @foreach (var amigo in Model)
         {
             <tr>
             <td>@amigo.Id</td>
             <td>@amigo.Nombre</td>
             <td>@amigo.Email</td>
             <td>@amigo.Ciudad</td>
             </tr>

         }
    
   

    </table>
   